<html>
    <%- include ('include/head'); -%>

    <body>
        <%- include ('include/nav'); -%>
        <div class="container">
            <div class="row">
                <h1>Home</h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:300px;">Content Here...</p>
            </div>
        </div>
      
        <%- include ('include/scripts'); -%>
        <%- include ('include/footer'); -%>
       
    </body>
</html>
            
          